.back{
    width: 100%;
    height: 100vh;
    background-color: red;
}
.relax{
    background-color: cornflowerblue;
}
.content{
    width: 80%;
    padding: 2% 10%;
}
.time{
    color: white;
    font-size: 144px;
}
.pause{
    position: relative;
    left: 100px;
    background-color: burlywood;
    color: white;
    font-size: 115px;
    font-weight: 900;
    padding: 30px;
}
.meditation{
    position: relative;
    left: 100px;
    font-size: 50px;
    background-color: white;
    padding: 10px;
    font-weight: 500;
}
.settings {
    font-size: 30px;
    font-weight: 500;
    background-color: whitesmoke;
}
.settings div {
    margin: 20px;
    width: fit-content;
}
.changeTime div{
    width: 70px;
    padding: 20px;
}
.plusTime{
    background-color: #0dcaf0;
}
.minusTime{
    background-color: #20c997;
}
.volumeText{
    font-size: 30px;
    font-weight: 500;
    margin-right: 50px;
    color: white;
    background-color: #d63384;
    padding: 0 20px;
}